<?xml version="1.0" encoding="UTF-8"?><configs>    <!-- 服务设置 -->    <service>        <status>true</status>        <third_num>3</third_num>        <queue_name>demo_1</queue_name>        <prefetch_count>1</prefetch_count>        <sleep_time>1</sleep_time>    </service>    <!-- rabbitmq连接设置 与节点一服务器同IP-->    <rabbitmq>        <host>127.0.0.1</host>        <port>5672</port>        <virtualhost>test</virtualhost>        <!-- 交换机名称 -->        <exchange_name>testExchange</exchange_name>        <username>test</username>        <password>123456</password>    </rabbitmq></configs>